<div style="background-color: #324359; height:100vh;">
    <mat-toolbar style="background-color: #bdc2c6">
        <mat-toolbar-row style="margin:5px;">
            <img alt="celogo" src="../../assets/celogo.jpg" style="width:64px;" />
            <button mat-button>ACES</button>
            <button mat-button>FESIMS</button>
            <button mat-button>EODIMS</button>
            <button mat-button>ARIS</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div style="min-height: 50vh;
    background: linear-gradient( rgba(0, 94, 255, 0.45), rgba(14, 30, 49, 0.45) ), url(../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <h2 style="font-size: 27px;
    color: white;
    padding: 25px;">Automated Civil Engineer - Family of Systems</h2>
    </div>
</div>