.toolbar
    display: flex
    flex-wrap: wrap
    padding: 20px
    
.toolbarcolor
    background-color: #bdc2c685

.backgroundimg
    position: relative
    min-height: 50vh
    background: linear-gradient( rgba(0, 94, 255, 0.45), rgba(14, 30, 49, 0.45) ), url('../../assets/background.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  

.mat-card:not([class*=mat-elevation-z]) 
    box-shadow: 0 3px 2px -1px rgba(197, 192, 192, 0.979), 0 2px 2px 0 rgba(187, 183, 183, 0.979), 0 2px 17px 0 rgba(182, 177, 177, 0.979)

.mat-accordion:not([class*=mat-elevation-z]) 
    box-shadow: 0 3px 2px -1px rgba(197, 192, 192, 0.979), 0 2px 2px 0 rgba(187, 183, 183, 0.979), 0 2px 17px 0 rgba(182, 177, 177, 0.979)


.mat-card 
    border-radius: 3px

.portalgrid 
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: .5fr 1fr .5fr
    padding-top: 30px
    grid-column-gap: 30px

.widgets
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1)
    display: block
    position: relative
    padding: 16px
    border-radius: 4px
    width: 120px


.maininfo 
    grid-column: 2


.maininfo p 
    font-size: 20px
    line-height: 1.5

.information-sidetab 
    grid-column: 3


.column1 
    grid-column: 1

.disabledLink
    pointer-events: none
    cursor: default